a{ color:#00699d }
a:hover{ color:#000 }

#content{
	margin:0 auto;
	width:906px;
	padding-left:5px;
	overflow: auto;
	background:#e4eeef;
	min-height:300px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.80);
	z-index:0px;
	list-style:none;
	
}
.googlemap{
	float:right;
	margin-right:30px;
	z-index:30;
	width:500px;
	height:260px;
	background:#fff;
}
.photo
{
	width:20px;
	/*height:230px;*/
}
.photo img
{   border:5px solid #cbdfe2;
	-webkit-border-radius: 10px;	/* Safari */
    -moz-border-radius: 10px;	/* Firefox 3.6 and earlier */
    border-radius: 10px;
	width:330px;
}

.porm
{
	border:none;
	background:#fff;
	width:250px;
	font-size:16px;
}

p
{
	font-size:18px;
	color:#000;
}

.id_kos
{
	font-size:18px;
	color:#000;
}

input[type="text"] , select{
	font-size:14px;
}

input[type="submit"]{
	background:url(../images/template/home/buttemplate.png) repeat-x;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	color:#000;
	font-size:14px;
	padding:1px 20px;
	border:none;
	text-decoration:none;
}
input[type="submit"]:hover {
	background:url(../images/template/home/buttemplate-h.png) repeat-x;
	color:#fff;
}